[
 {kernel, [
    {logger_level, debug}
    % ,{logger,[
    %   {handler, default, logger_std_h,
    %     #{
    %       % config => #{file => "logs/qq.log", max_no_files => 5},
    %       formatter => {logger_formatter, 
    %           % #{ }
    %           #{ template => [file,":",line," ",level,": ",msg,"\n"] }
    %         }
    %   }}
    % ]}
  ]},

  {tlsmlpp, [
    {tcp_server, [
      {{"127.0.0.1", 9999}, []},
      {{"127.0.0.1", 9998}, default}
    ]},
    {tcp_client, [
      {{"127.0.0.1", 9999}, []},
      {{"127.0.0.1", 9998}, default}
    ]}
  ]}

].
